@page
@model LoginModel

@{
    ViewData["Title"] = "Aanmelden";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Winkellijstje</h1>
    <p>Gelieve aan te melden voor uw persoonlijke winkellijst te raadplegen.</p>
</div>
<div class="row justify-content-center" >
        <section>
            <form id="account" method="post">
                <h4>Gebruik uw email adres om aan te melden</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-white" style="background-color: rgba(77, 71, 96, 0.9);">Aanmelden</button>
                </div>
                <div class="form-group" style="color: rgba(77, 71, 96, 0.9);">
                    <p>
                        <a style="color: rgba(77, 71, 96, 0.9);" id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                    </p>
                    <p>
                        <a style="color: rgba(77, 71, 96, 0.9);" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registeren als een nieuwe gebruiker</a>
                    </p>
                </div>
            </form>
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
