@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij (Naam van het bedrijf)</h1>
    <p>Gelieve aan te melden voor uw persoonlijke winkellijst te raadplegen.</p>
</div>
